

@media only screen and (max-width: 1050px){
    .container .navigation .navWrapper{
        gap: 1.6rem;
    }

    .container .navigation .companyLogo{
        font-size: 1.5rem;
    }

    .JoinAndSignIn{
        gap: 1rem;
    }
}

@media (max-width: 1000px) {
    .container .navigation .navLink{
        display: none;
    }

    .MainPageHead{
        flex-direction: column;
        height: auto;
        overflow: initial;
    }

    .MainPage{
        width: 100%;
    }

    .Heading{
        text-align: center;
    }

    .ButtonClass{
        align-items: center;
        justify-content: center;
    }

    .ButtonClass button:nth-child(2){
        display: none;
    }

    .SubPage{
        height: 390px;
        width: 100%;
    }

    .SubPage img{
        height: 100%;
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    .container2{
        flex-direction: column;
        height: max-content;
        width: 100%;
    }

    .left{
        overflow: initial;
        height: max-content;
    }

    .writing{
        width: 100%;
    }

    .sec1{
        width: 100%;
    }

    .container3{
        flex-direction: column;
        height: max-content;
        width: 100%;
    }

    .right{
        overflow: initial;
        height: max-content;
    }

    .writing1{
        width: 100%;
    }

    .sec3{
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .container .navigation .MobileView{
        display: block;
    }

    /* @media (max-width: 1000px) */
        
}