*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

._chat_bot_{
    width: 100%;
    height: 100vh;
    background: #aeabda;
    display: flex;
    align-items: center;
    justify-content: center;

}

._chatInterface_{
    width: 60%;
    height: 70%;
    background: #fff;
    border-radius: 13px;
    margin: 0 auto;
    /* padding: 10px; */
    overflow: hidden;
}

.chatBotName{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 10px;
    box-shadow: 0 0 0 2.5px rgba(0, 0, 0, 0.2);
}

.chatBotName .botName{
    font-family: monospace;
    font-weight: 600;
}

.chat_contents{
    width: 100%;
    height: 75%;
    /* border: 2px solid blue; */
    scroll-behavior: smooth;
    padding: 5px 6px;
    overflow: auto;
    position: relative;
}

._typeArea_{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    background: darkslateblue;
    padding: 10px;
    z-index: 10;
    position: relative;

}

._typeArea_ input{
    width: 90%;
    height: 100%;
    padding: 0 10px;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
}

._typeArea_ input::placeholder{
    color: white;
}

._typeArea_ button{
    width: 10%;
    height: 100%;
    border: 2px solid white;
    cursor: pointer;
}

._typeArea_ button:active{
    opacity: 0.9;
}

.chats{
    max-width: 80%;
    width: auto;
    height: auto;
    background: rgb(0, 107, 247);
    padding: 10px;
   
}

.user_chat{
    justify-self: flex-end;
    border-start-end-radius: 25px;
    border-start-start-radius: 25px;
    border-end-start-radius: 25px;
    /* border: 2px solid blue; */
}

.robot_chat{
    justify-self: flex-start;
    background: darkblue;
    border-start-start-radius: 25px;
    border-start-end-radius: 25px;
    border-end-end-radius: 25px;
    /*   */
}

.chtTxt p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.chtTxt{
    display: flex;
    align-items: center;
    gap: 10px;
}

.animateWrap{
    display: flex;
    gap: 4px;
    width: 30px;
    position: absolute;
    margin: 0;
    top: 1.2rem;
    left: 0;
}

.robotIcon{
    position: relative;
    align-self: flex-start;
}

.animate{
    width: 4px;
    height: 4px;
    border-radius: 20px;
    background: white;
    display: inline-block;
    position: relative;
    animation: thinking 7s ease-in-out infinite;
}

.animate:nth-child(2){
    animation-delay: .5s;
}

.animate:nth-child(3){
    animation-delay: .1s;
}

@keyframes thinking{
    0%{
        top: 0;
    }
    100%{
        top: 3px;
    }
}
.thinking{
    color: white;
}
.chat_init:disabled{
    background: silver;
    cursor: no-drop;
    border-radius: 10px;
    width: 50px;
}

._searchonline_{
    position: absolute;
    width: 120px;
    height: 20px;
    bottom: 0;
    left: 0;
    
}
._searchonline_ button{
    position: fixed;
    border-radius: 7px;
}

.searchOnline{
    font-size: 10px;
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.searchOnline .active{
    background: #000;
    color: yellow;
}
.active{
    background: #000;
    color: blueviolet;
}

@media (max-width: 776px){
    ._chatInterface_{
        width: 80%;
    }
}

@media (max-width: 576px){
    ._chatInterface_{
        width: 90%;
    }

    .searchOnline,
    ._searchonline_{
    width: max-content;
    padding: 5px 10px;
    }

}

