*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.practice1{
    width: 100%;
    height: 500px;
    background: linear-gradient(50deg, blue, red, purple, violet, pink, grey);
}

.practice2{
    width: 100%;
    height: 350px;
    background: radial-gradient(blue, red, purple, violet, pink, grey)
}