/* body{
    background-color: light;
} */


.style{
    background-color: bisque;
    color: purple;
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    height: 30%;
    width: 50%;
}

.style1{
    color: lightblue;
    font-size: medium;
}