*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Flexbox1{
    width: 100%;
    height: 100vh;
    /* border: 2px solid blue; */
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.flexparent1{
    width: calc(100%/3);
    height: 100%;
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex1{
    width: 100%;
    height: 33.3%;
    background-color: purple;
    /* border: 2px solid grey; */
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.flex2{
    width: 100%;
    height: 33.3%;
    /* background-color: white; */
    /* border: 2px solid grey; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.flexpikin1{
    width: 50%;
    height: 100%;
    background-color: green;
    /* border: 2px solid black; */
    border-radius: 9px;
}

.flexpikin2{
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flexchild1{
    width: 100%;
    height: 25%;
    background-color: skyblue;
    /* border: 2px solid black; */
    border-radius: 9px;
}

.flexchild2{
    width: 100%;
    height: 75%;
    background-color: red;
    /* border: 2px solid black; */
    border-radius: 9px;
}

.flex3{
    width: 100%;
    height: 33.3%;
    background-color: greenyellow;
    /* border: 2px solid grey; */
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.flexparent2{
    width: calc(100%/3);
    height: 100%;
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex4{
    width: 100%;
    height: 50%;
    /* border: 2px solid grey; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.flexpikin3{
    width: 50%;
    height: 100%;
    background-color: green;
    /* border: 2px solid black; */
    border-radius: 9px;
}

.flexpikin4{
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 9px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.flexchild3{
    width: 100%;
    height: 30%;
    background-color: skyblue;
    /* border: 2px solid black; */
    border-radius: 9px;
}

.flexchild4{
    width: 100%;
    height: 70%;
    background-color: red;
    /* border: 2px solid black; */
    border-radius: 9px;
}

.flex5{
    width: 100%;
    height: 50%;
    background-color: violet;
    /* border: 2px solid grey; */
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.flexparent3{
    width: calc(100%/3);
    height: 100%;
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex6{
    width: 100%;
    height: 10%;
    background-color: green;
    /* border: 2px solid grey; */
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.flex7{
    width: 100%;
    height: 10%;
    /* background-color: greenyellow; */
    /* border: 2px solid grey; */
    display: flex;
    gap: 10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.flexpikin5{
    width: 25%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    background-color: skyblue;
}

.flexpikin6{
    width: 75%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.flex8{
    width: 100%;
    height: 40%;
    background-color: purple;
    /* border: 2px solid grey; */
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.flex9{
    width: 100%;
    height: 40%;
    background-color: skyblue;
    /* border: 2px solid grey; */
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}