*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3 linear;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

body{
    background: rgb(253, 251, 251);
}

.container{
    width: 90vw;
    height: 100px;
    border: 2px solid blue;
    margin: 0 auto;
    padding: 1rem 0;
}

.container .navigation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .navigation .classLogo{
    text-decoration: none;
    font-size: 2rem;
    color: blue;
}

.container .navigation .classLogo .linkedTxt{
    /* font-family: Times; */
    font-weight: 600;
}

.container .navigation .navsWrapper{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    gap: 3rem;
}

.navLink{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    gap: 3rem;
}

.container .navigation .navsWrapper a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;
    text-decoration: none;
}

.borderline{
    border-left: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(231, 231, 231);
    padding: 0 13px;
}

.JoinAndSignIn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
}

.container .navigation .navsWrapper a .txt{
    font-weight: 600;
    font-size: 13px;
}

.container .navigation .navsWrapper a span svg{
    font-weight: 600;
}

.JoinAndSignIn a{
    font-weight: 600;
}

.JoinAndSignIn a.signin{
    color: blue !important;
    border-radius: 30px;
    padding: 10px 15px;
    border: 2px solid blue;
}

.container .navigation .MobileView{
    display: none;
}

.MainPageHead{
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 2px solid red;
    /* flex: column; */

}

.main1{
    padding: 2.85em;
    height: 30%;
    width: 100%;
}

.MainPage{
    border: 2px solid blue;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.Heading{
    font-size: 40px;
    font-weight: 450;
    align-items: center;
    justify-content: center;
    color: rgb(77, 75, 75);
}

.ButtonClass{
    display: flex;
    flex-direction: column;
    border: 2px dashed black;
    padding: 35px 0;
    justify-content: space-between;
    /* align-items: center; */
    gap: 15px;
}

/* .notice{
    align-items: center;
    justify-content: space-around;
    display: flex;
} */

.btn1{
    border: 2px;
    width: 75%;
    height: 40px;
    /* border: 2px solid gray; */
    border-radius: 20px;
    padding: 5px 0;
    background-color: blue;
    color: white;
}

.btn2{
    border: 2px;
    width: 75%;
    height: 40px;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 5px 0;
}

.btn3{
    border: 2px;
    width: 75%;
    height: 40px;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 5px 0;
}

.Link{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Link p{
    text-align: center;
}

.SubPage{
    border: 2px solid blue;
    height: 100%;
    width: 40%;
}

.SubPage img{
    width: 100%;
}

.JoinNow{
    color: blue;
    text-decoration: none;
}

.left{
    height: 350px;
    width: 90vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 2px solid red;
    margin: 0 auto;
    background-color: #f3f1f1;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.writing{
    border: 2px solid blue;
    width: 30%;
    height: 300px;
    align-items: center;
    padding: 75px 0;
}

.sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.sec2{
    width: 100%;
    height: 300px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    border: 2px solid gray;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sec2 button{
    width: auto;
    height: auto;
    padding: 15px;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 40px;
    font-size: 15px;
    background: transparent;
}

.sec2 .tele{
    background: #e1e1e1;
}

.smallsec{
    height: 80%;
    width: 200px;
    border: 2px solid gray;
    border-radius: 30px;
}

.Show{
    color: blue;
    background: transparent;
    font-weight: 500;
}

.sec2 .Show{
    border-color: blue;
}

.right{
    height: 350px;
    width: 90vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 2px solid purple;
    margin: 0 auto;
    background-color: rgb(255, 254, 254);
}

.container3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.writing1{
    border: 2px solid blue;
    width: 30%;
    height: 300px;
    align-items: center;
    padding: 75px 0;
}

.sec3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.sec4{
    width: 100%;
    height: 300px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    border: 2px solid gray;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sec4 button{
    width: auto;
    height: auto;
    padding: 15px;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 40px;
    font-size: 15px;
    background: transparent;
}

.side{
    width: 100%;
    height: auto;
    border: 2px solid black;
    background-color: #f1e5e5;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 18px;
}

.writing3{
    color: rgb(161, 21, 21);
    font-size: 30px;
    font-weight: 350;
}

.btn4{
    border: 1px solid blue;
    border-radius: 30px;
    width: auto;
    height:auto;
    padding: 15px;
    color: blue;
    background: transparent
}