.rise1{
    background-color: black;
    border: 1px solid blue;
    width: 10%;
    height: 50%;
    padding: 10%;
    left: 500px;
    position: relative;
}

.rise2{
    background-color: red;
    border: 1px solid blue;
    width: 30%;
    height: 10%;
    padding: 10%;
    margin: 0px 0px;
    top: 0px;
    position: fixed;
}

.rise3{
    background-color: purple;
    border: 1px solid blue;
    width: 10%;
    height: 50%;
    padding: 10%;
    margin: 50px 0px;
    top: 50px;
    left: 900px;
    position: absolute;
}

.rise4{
    background-color:violet;
    border: 1px solid blue;
    width: 10%;
    height: 50%;
    padding: 10%;
    margin: 50px 0px;
}

.written{
    font-size: 200%;
    font-family: monospace;
}