body{
    background-image: url(Snapchat-312838263.jpg);
}

.text{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    text-decoration: line-through;
}

.colors1{
    width: 50%;
    height: 200px;
    border: 2px dotted blue;
    margin: 40px 50px;
    padding: 10px;
    /*background-color: gray;*/
    /*background: #000000;*/
}

.fa-facebook{
    color: blue;
}

.fa-whatsapp{
    color: white;
}